[Desktop Entry]
Type=Application
Name=popsicle
Comment=Wayland keystroke overlay
Exec=sg input -c "/home/criech/personal/popsicle/zig-out/bin/popsicle"
Icon=input-keyboard
Categories=Utility;Accessibility;
StartupNotify=false
Terminal=false
